In [1]:
import geopandas as gpd

In [8]:
df = gpd.read_file('../data/boundary_ncr/raw/boundary_ncr.shp')

In [9]:
df.head()

,GID_0,NAME_0,GID_1,NAME_1,NL_NAME_1,GID_2,NAME_2,VARNAME_2,NL_NAME_2,TYPE_2,ENGTYPE_2,CC_2,HASC_2,geometry
0,PHL,Philippines,PHL.47_1,Metropolitan Manila,None,PHL.47.1_1,Kalookan City,None,None,Lungsod|Siyudad,City,137501,PH.MM.KL,"MULTIPOLYGON (((121.02068 14.71426, 121.02071 ..."
1,PHL,Philippines,PHL.47_1,Metropolitan Manila,None,PHL.47.2_1,Las Piñas,"Las Piñas, City of",None,Lungsod|Siyudad,City,137601,PH.MM.LP,"MULTIPOLYGON (((120.97972 14.49306, 120.98000 ..."
2,PHL,Philippines,PHL.47_1,Metropolitan Manila,None,PHL.47.3_1,Makati City,"Makati, City of",None,Lungsod|Siyudad,City,137602,PH.MM.MK,"POLYGON ((121.06578 14.53872, 121.06594 14.538..."
3,PHL,Philippines,PHL.47_1,Metropolitan Manila,None,PHL.47.4_1,Malabon,None,None,Lungsod|Siyudad,City,137502,PH.MM.ML,"POLYGON ((120.95800 14.65938, 120.95796 14.658..."
4,PHL,Philippines,PHL.47_1,Metropolitan Manila,None,PHL.47.5_1,Mandaluyong,"Mandaluyong, City of",None,Lungsod|Siyudad,City,137401,PH.MM.MD,"POLYGON ((121.05405 14.57747, 121.05408 14.577..."

In [10]:
df = df.loc[:, ['NAME_2', 'geometry']]

In [11]:
df.head()

          NAME_2                                           geometry
0  Kalookan City  MULTIPOLYGON (((121.02068 14.71426, 121.02071 ...
1      Las Piñas  MULTIPOLYGON (((120.97972 14.49306, 120.98000 ...
2    Makati City  POLYGON ((121.06578 14.53872, 121.06594 14.538...
3        Malabon  POLYGON ((120.95800 14.65938, 120.95796 14.658...
4    Mandaluyong  POLYGON ((121.05405 14.57747, 121.05408 14.577...

In [12]:
df.isna().sum()

NAME_2      0
geometry    0
dtype: int64

In [13]:
df.to_file('../data/boundary_ncr/cleaned/boundary_ncr.shp')